<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Bet History</title>
    <link rel="stylesheet" href="templates/style.css">
</head>
<body>
    <div class="navigation">
        <a class="active" href="/">Home</a>
        <a href="/enterBets">Enter Bets</a>
        <a href="/todaysBets">Todays Bets</a>
        <a href="/betHistory">History</a>
    </div>
    <div id="navigation"></div>
	<h1>Check bet history</h1>
    Show all the data that is in mongo for bet history or let people filter data. <br>
    To enter a bet and have it shown in this table click <a href="/enterBets">here</a> <br>
    <%- priorBets %>
</body>

</html>
