<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Sports Betting Home</title>
    <link rel="stylesheet" href="templates/style.css">
</head>

<body>
    <div class="navigation">
        <a class="active" href="/">Home</a>
        <a href="/enterBets">Enter Bets</a>
        <a href="/todaysBets">Todays Bets</a>
        <a href="/betHistory">History</a>
    </div>
	<h1>Sports Betting Portal</h1>
</body>

</html>
