<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Sports Betting Home</title>
    <link rel="stylesheet" href="templates/style.css">
</head>

<body>
    <h1>Welcome to the Betting Portal!</h1>
    <div class="navigation">
        <a class="active" href="/">Home</a>
        <a href="/enterBets">Enter Bets</a>
        <a href="/todaysBets">Recent Scores</a>
        <a href="/betHistory">History</a>
    </div>
	<h1>Sports Betting Portal is an application that allows users to enter their sports bets and retrieve odds and other relvant information from sportsbooks.
       <ul>
        <li>
            To enter and submit a bet, navigate to the "Enter Bets" page and fill out the associated form.
        </li>
        <li>
            To view recent NBA (Basketball) scores, navigate to the "Recent Scores" page.
        </li>
        <li>
            To view your bet history on the site, navigate to the "History" page.
        </li>
       </ul>
    </h1>
    <img src="/images/sportsbet.jpg" alt="Sports Betting Photo" class="center">
</body>

</html>
