<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Today's Bet</title>
    <link rel="stylesheet" href="templates/style.css">
</head>

<body>
    <div class="navigation">
        <a class="active" href="/">Home</a>
        <a href="/enterBets">Enter Bets</a>
        <a href="/todaysBets">Recent Scores</a>
        <a href="/betHistory">History</a>
    </div>
    <div id="navigation"></div>
	<h1>Check today's scores</h1>
    Will use the API here to get information on recent NBA scores.
    <%- scoreTable %>
</body>

</html>
